:root {
  --Background-color: #001900;
  --main-text-color: #9ccc9c;
  --heading-text-color: #ff934c; /*?*/
  --content-text-link-color: #649568; /*?*/
  --splash-color: #f60;
  --gray-color: #909590;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* This is for all platforms */
body {
  background-color: var(--Background-color);
}
.margin {
  margin: 0 10%;
}
ul {
  list-style-type: square;
}
h1,
h2 {
  text-align: center;
  color: var(--heading-text-color);
}

p {
  font-size: 20px;
  line-height: 1.6;
  color: var(--main-text-color);
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
a:hover {
  text-decoration: underline;
  color: var(--gray-color);
}

/* All fo this is header */
header {
  height: 15vh;
}
.navBar {
  float: right;
  margin-top: 5vh;
}
.navBar a {
  display: inline-block;
  margin-left: 25px;
  font-size: 23px;
  text-transform: uppercase;
}
#resume {
  color: var(--heading-text-color);
  padding: 3px;
  border: 2px solid var(--heading-text-color);
  text-decoration: none;
}
#resume:hover {
  border: 2px solid var(--main-text-color);
  color: var(--gray-color);
}

@media only screen and (max-device-width: 1450px) {
}

/*body content*/
#about p a {
  color: var(--content-text-link-color);
}
#about p a:hover {
  color: var(--gray-color);
}

/* All of this is Footer */
footer {
  height: 7.5vh;
}
.copyRight {
  float: left;
  margin-top: 22px;
  color: var(--splash-color);
  font-size: 16px;
}
.mediaIcon {
  float: right;
  margin-top: 20px;
}
.mediaIcon a {
  display: inline-block;
  margin-left: 25px;
}
