:root {
  --Background-color: #001900;
  --main-text-color: #9ccc9c;
  --heading-text-color: #ff934c; /*?*/
  --content-text-link-color: #649568; /*?*/
  --splash-color: #f60;
  --gray-color: #909590;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* This is for all platforms */
body {
  background-color: var(--Background-color);
}
.margin {
  margin: 0 10%;
}
.bodyMargin {
  margin: 0 15%;
}
ul {
  list-style-type: square;
}
h1,
h2 {
  font-size: clamp(2.5rem, 5vw, 3.75rem);
  text-align: center;
  color: var(--heading-text-color);
}
h2 {
  display: flex;
  justify-content: center;
}
p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.6;
  color: var(--main-text-color);
}
a {
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-decoration: none;
  color: var(--main-text-color);
}
a:hover {
  text-decoration: underline;
  color: var(--gray-color);
}

@media only screen and (max-width: 1250px) {
  .bodyMargin {
    margin: 0 5%;
  }
}
@media only screen and (max-width: 1025px) {
  .stopMove {
    overflow: hidden;
  }
}
@media only screen and (max-width: 700px) {
  h1,
  h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 540px) {
  h1,
  h2 {
    font-size: 39px;
  }
}
@media only screen and (max-width: 360px) {
  h1,
  h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 350px) {
  p,
  a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 280px) {
  h1,
  h2 {
    font-size: 20px;
  }
  p,
  a {
    font-size: 13.5px;
  }
}

/* All fo this is header */
header {
  min-height: 25vh;
}
.navBar,
.hamburger {
  float: right;
  margin-top: 5vh;
  display: inline;
}
.menu li {
  display: inline;
}
.menuItems {
  display: inline-block;
  margin-left: 25px;
  font-size: 23px;
  text-transform: uppercase;
}
#resume {
  color: var(--heading-text-color);
  padding: 3px;
  border: 2px solid var(--heading-text-color);
  text-decoration: none;
}
#resume:hover {
  border: 2px solid var(--main-text-color);
  color: var(--gray-color);
}

@media only screen and (max-width: 1025px) {
  /* This is for the Haberger stuff */
  .hamburger {
    --hm-width: 3em;
    --hm-height: 0.4em;
    --spacing: calc(var(--hm-width) / 4);

    width: var(--hm-width);
    height: var(--hm-height);
    background-color: var(--splash-color);
    position: relative;
    transition: transform 0.8s ease-in-out;
    z-index: 100;
  }
  .hamburger::after,
  .hamburger::before {
    content: "";
    width: 50%;
    height: inherit;
    background-color: var(--splash-color);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease-in-out;
  }
  .hamburger::after {
    top: calc(-1 * var(--spacing));
  }
  .hamburger::before {
    top: var(--spacing);
    left: 50%;
  }
  .close.hamburger::before,
  .close.hamburger::after {
    left: 50%;
    transform: translate(-50%) rotate(-450deg);
    background-color: var(--heading-text-color);
  }
  .close.hamburger {
    transform: rotate(45deg);
    background-color: var(--heading-text-color);
  }
  /* This is for the Haberger stuff */

  .menu li {
    display: block;
  }
  .navBar {
    margin-top: 0;
    position: absolute;
    background-color: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scaleX(0);
    transform-origin: left center;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in;
  }
  .revealNav {
    transform: scaleX(1);
    opacity: 0.9;
    position: fixed;
  }
  .menuItems {
    color: var(--splash-color);
    float: none;
    width: 100%;
    font-size: calc(1.125rem + 4vw);
    opacity: 0;
    transform: translate(-20em);
    display: block;
    transition: transform 0.8s ease-in-out, opacity 0.3s ease-in;
  }
  .menu li + li {
    margin-top: 3em;
  }
  .revealItems .menuItems {
    transform: translate(0);
    opacity: 1;
  }
  .revealItems li:nth-child(1) .menuItems {
    transition-delay: 0.1s;
  }
  .revealItems li:nth-child(2) .menuItems {
    transition-delay: 0.2s;
  }
  .revealItems li:nth-child(3) .menuItems {
    transition-delay: 0.3s;
  }
  .revealItems li:nth-child(4) .menuItems {
    transition-delay: 0.4s;
  }
  #resume {
    color: var(--splash-color);
    padding: 3px;
    border: none;
    text-decoration: none;
  }
  #resume:hover {
    border: none;
    text-decoration: underline;
    color: var(--gray-color);
  }
}

/*body content*/
#hero {
  min-height: 75vh;
}
#myName {
  margin-bottom: 5px;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
#hero h1 {
  margin-bottom: 5px;
  text-align: left;
}
#hero h1.firstSentence {
  color: var(--splash-color);
}
#myHero {
  margin-top: 30px;
  max-width: 585px;
}
#about p a {
  color: var(--content-text-link-color);
}
#about p a:hover {
  color: var(--gray-color);
}

@media only screen and (max-width: 1550px) {
  #myHero {
    max-width: 490px;
  }
}
@media only screen and (max-width: 1250px) {
  #hero {
    padding-left: 10%;
    padding-right: 5%;
  }
}
@media only screen and (max-width: 950px) {
  #hero h1 {
    max-width: 435px;
  }
}
@media only screen and (max-width: 360px) {
  #myName {
    font-size: 13px;
  }
}
@media only screen and (max-width: 280px) {
  #myName {
    font-size: 11px;
  }
}

/* This is the 'about' secrtion */
#about {
  min-height: 90vh;
}
#about .content {
  margin-right: auto;
  margin-left: auto;
}
#about p {
  text-indent: 5%;
  padding-top: 1.25rem;
}
#about p em {
  text-indent: 0;
  float: right;
  padding: 0.5% 12% 2% 18%;
}

@media only screen and (max-width: 950px) {
  #about {
    min-height: 75vh;
  }
  #about p {
    padding-top: 0.75rem;
  }
}

@media only screen and (max-width: 475px) {
  #about {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 280px) {
  #about {
    padding-bottom: 50px;
  }
}

/* This is the 'projects' secrtion */
#projects {
  min-height: 62.5vh;
}
#projects .container h2 {
  padding-bottom: 10px;
}
#projects .projItemWrapper {
  width: 47%;
  display: inline-block;
  padding: 0 0 5px;
  margin: 0 1% 30px;
  vertical-align: top;
}
#projects img {
  width: 100%;
  height: auto;
}

@media (max-width: 1250px) {
  #projects .projItemWrapper {
    width: 100%;
  }
}

/* This is the 'contact' secrtion */
#contact {
  min-height: 30vh;
  text-align: center;
}
#contact p {
  max-width: 630px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
#email {
  color: var(--heading-text-color);
  padding: 3px;
  border: 2px solid var(--heading-text-color);
  text-decoration: none;
}
#email:hover {
  border: 2px solid var(--main-text-color);
  color: var(--gray-color);
}

@media only screen and (max-width: 1130px) {
  #contact p {
    max-width: 589px;
  }
}
@media only screen and (max-width: 1056px) {
  #contact p {
    max-width: 551px;
  }
}
@media only screen and (max-width: 988px) {
  #contact p {
    max-width: 515px;
  }
}
@media only screen and (max-width: 923px) {
  #contact p {
    max-width: 481px;
  }
}
@media only screen and (max-width: 862px) {
  #contact p {
    max-width: 450px;
  }
}
@media only screen and (max-width: 807px) {
  #contact p {
    max-width: 421px;
  }
}
@media only screen and (max-width: 465px) {
  #contact p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 434px) {
  #contact p {
    font-size: 14px;
    max-width: 365px;
  }
}
@media only screen and (max-width: 404px) {
  #contact p {
    font-size: 13px;
    max-width: 339px;
  }
}
@media only screen and (max-width: 376px) {
  #contact p {
    font-size: 12px;
    max-width: 313px;
  }
}

/* All of this is Footer */
footer {
  min-height: 7.5vh;
}
.copyRight {
  float: left;
  margin-top: 22px;
  color: var(--splash-color);
  font-size: clamp(0.75rem, 2vw, 1rem);
}
.mediaIcon {
  float: right;
  margin-top: 20px;
}
.mediaIcon a {
  display: inline-block;
  margin-left: 25px;
}

@media only screen and (max-width: 1025px) {
  footer {
    height: 10.5vh;
  }
  .copyRight {
    max-width: 149px;
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  footer {
    height: 9.5vh;
  }
}
@media only screen and (max-width: 700px) {
  footer {
    height: 8.5vh;
  }
  .copyRight {
    max-width: 130px;
  }
}
@media only screen and (max-width: 605px) {
  .copyRight {
    max-width: 112px;
  }
}
@media only screen and (max-width: 350px) {
  .mediaIcon a {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 280px) {
  .mediaIcon a {
    margin-left: 15px;
  }
}
